@use "sass:math"

// app global css in Sass form
.body
  &--light
    background: $light-page
    color: $light-page-text
  &--dark
    background: $dark-page
    color: $dark-page-text

//Header
.q-toolbar
  justify-content: center
  &__title
    @include max-page-width

//content
.q-page
  @include max-page-width
  &-container
    display: flex
    justify-content: center

h1
  font-size: 4rem

h2
  font-size: 2.8rem

h3
  margin: 12px 0
  font-size: 2.2rem

//buttons
.button-icon
  font-size: 18px
  &-left
    margin-right: .8rem
  &-right
    margin-left: .8rem
  &-svg
    width: 20px

//cards
.project-item-card
  background: darken($light-page, 2%)
  width: 30rem
  min-width: min(30rem, 100vw)
  display: flex
  flex-direction: column
  border-radius: $card-border-radius
  padding: 2rem
  margin: 1rem
  justify-content: between
  gap: .5rem

  &__heading
    font-weight: 300
    text-align: center
    margin: 1.5rem 0 .5rem 0

  &__technologies
    display: flex
    justify-content: center

  &__description
    line-height: 2
    margin: 3rem 1.5rem
    flex-grow: 2

  &__navigation
    justify-content: space-between
    & .button
      min-width: 10rem
    & .button-more, .button-website
      flex-order: 4

.project-page-card
  $image-max-width-percent: 51
  display: flex
  flex-direction: column
  width: 100%
  max-width: $max-width * ($image-max-width-percent / 100)
  background: darken($light-page, 5%)
  border-radius: $card-border-radius
  margin: 2rem 0
  overflow: hidden
  align-items: center

  &__image
    width: 100%
    border-radius: $card-border-radius
    box-shadow: 0 0 15px black

  &__body
    padding: 2rem 1rem

  &__heading
    margin: 0
    padding: 0rem
    text-align: center

  &__description
    line-height: 2
    padding: 1rem

  @media(min-width: $breakpoint-md-min)
    max-width: 100%
    flex-direction: row
    &:nth-child(even)
      flex-direction: row-reverse

    &__image
      width: math.percentage($image-max-width-percent / 100)
    &__body
      width: math.percentage((100 - $image-max-width-percent) / 100)
      text-align: center