@use "sass:math"

// app global css in Sass form
.body
  &--light
    background: $light-page
    color: $light-page-text
  &--dark
    background: $dark-page
    color: $dark-page-text

//Header
.q-toolbar
  justify-content: center
  &__title
    @include max-page-width

//content
.q-page
  @include max-page-width
  &-container
    display: flex
    justify-content: center

h1
  font-size: 4rem

h2
  font-size: 2.8rem

h3
  margin: 12px 0
  font-size: 2.2rem

// Project Pages
.project-inline-list
  display: flex
  flex-direction: column
  margin: 1.5rem 0
  padding: unset
  width: 100%
  li
    width: 100%
    display: flex
    flex-direction: column
    padding: 0 1rem
    font-style: italic
    margin-bottom: 1.5rem
    line-height: 1.2rem
  strong
    margin-left: -1rem