$primary   : #872bff
// $primary   : #d8d80ae8
$secondary : #1e232b
$accent    : #2a323f

$dark-page : #222831
$dark-page-text: #eee

$light-page: #222831
$light-page-text: #eee

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$max-width: 1200px

@mixin max-page-width
  width: $max-width
  max-width: min(#{$max-width}, 100%)